.section-hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0px auto;

  max-width: 1600px;
  background-size: cover;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-hero.jpg");

 

.section-hero__conteiner {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.section-hero__title {
  font-weight: 900;
  // font-size: 7vw;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-wight);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
}