
<section class="section">
  <ul class="section__list upper-list">
    <li class="upper-list__item">
      <p class="upper-list__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, sed.
      </p>
    </li>
    <li class="upper-list__item">
      <p class="upper-list__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, sed.
      </p>
    </li>
    <li class="upper-list__item">
      <p class="upper-list__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, sed.
      </p>
    </li>
  </ul>
  <ul class="section__list down-list">
    <li class="down-list__item">
      <p class="down-list__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis dignissimos, doloribus
        culpa officiis corrupti iste unde labore quia voluptatibus nobis?
      </p>
    </li>
  </ul>
</section>



