< class="header-list">
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
<ul>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
</ul>
<div>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
  <li class="header-list__item"></li>
</div>